<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Сити-ферма №1</title>
		<style>
			body {
				font-family: Arial, sans-serif;
				text-align: center;
				margin: 0;
				padding: 0;
			}
			header {
				background-color: #4CAF50;
				color: white;
				padding: 1em 0;
			}
			.m20 {
				margin: 20px 0;
			}
			#pump-toggle, #light-toggle {
				color: white;
				background-color: red;
				width: 100px;
				height: 50px;
			}
		</style>
	</head>
	<body>
		<header>
			<h2>Сити-ферма №1</h1>
			<h3>Разработчик: Михаил Андросов</h2>
		</header>
		<center>
			<div class="m20">
				<h2>Показания датчиков</h2>
				<p>Дата и время: <span id="datetime"></span></p>
				<p>Температура: <span id="temp">22</span>°C</p>
				<p>Влажность: <span id="humidity">60</span>%</p>
				<p>Уровень CO2: <span id="co2">400</span> ppm</p>
				<p>Уровень питательного раствора: <span id="nutrient">80</span>%</p>
				<p>Уровень pH: <span id="ph">6.5</span></p>
				<p>Уровень EC: <span id="ec">1.5</span> mS/cm</p>
				<p>Температура раствора: <span id="temp-solution">20</span>°C</p>
			</div>
			<div class="m20">
				<h2>Состояние системы</h2>
				<p>Оптимальные показатели: Температура 22°C, Влажность 60%</p>
				<p>Следующий полив: с <span id="watering-start">08:00</span> до <span id="watering-end">08:15</span></p>
				<p>Подсветка: с <span id="lighting-start">23:00</span> до <span id="lighting-end">5:00</span></p>
			</div>
			<div>
				<h2 id="mode-status">Режим работы: авто</h2>
				<button onclick="modeToggle()">Переключить режим</button>
			</div>
			<div id="manual-controls" class="m20 hidden">
				<div>
					<button id="pump-toggle" onclick="sendCommand('/toggle-device', {'device': 'pump'})">Насос</button>
					<button id="light-toggle" onclick="sendCommand('/toggle-device', {'device': 'light'})">Свет</button>
				</div>
				<br>
				<div>
					<label for="watering-time">Время полива (мин):</label>
					<input type="number" id="watering-time" value="15">
				</div>
				<br>
				<div>
					<label>Подсветка:</label>
					<br>
					<span>с</span>
					<input type="time" id="input-lighting-start" value="23:00">
					<span>до</span>
					<input type="time" id="input-lighting-end" value="05:00">
				</div>
				<br>
				<div>
					<button onclick="settingsReset()">Сброс</button>
					<button onclick="settingsUpdate()">Сохранить</button>
				</div>
			</div>
		</center>

		<script>

			function updateDateTime() {
				const now = new Date();
				document.getElementById("datetime").textContent = now.toLocaleString();
			}

			let settings = {
				"auto": true,
				"pump": false,
				"light": false,
				"lighting_start": "23:00",
				"lighting_end": "05:00",
				"watering_time": 15
			}

			const h2ModeStatus = document.getElementById("mode-status");
			const divManualControls = document.getElementById("manual-controls");			
			const spanTemp = document.getElementById("temp");
			const spanHumidity = document.getElementById("humidity");
			const spanCo2 = document.getElementById("co2");
			const spanNutrient = document.getElementById("nutrient");
			const spanPH = document.getElementById("ph");
			const spanEC = document.getElementById("ec");
			const spanTempSolution = document.getElementById("temp-solution");
			const spanWateringStart = document.getElementById("watering-start");
			const spanWateringEnd = document.getElementById("watering-end");
			const spanLightingStart = document.getElementById("lighting-start");
			const spanLightingEnd = document.getElementById("lighting-end");
			const btnPumpToggle = document.getElementById("pump-toggle");
			const btnLightToggle = document.getElementById("light-toggle");
			const inputLightingStart = document.getElementById("input-lighting-start");
			const inputLightingEnd = document.getElementById("input-lighting-end");
			const inputWateringTime = document.getElementById("watering-time");
			
			divManualControls.style.display = "none";

			function modeToggle() {
				modeCheck();
				settings.auto = !settings.auto;
				settingsSave();
			};

			function modeCheck() {
				if (settings.auto) {
					h2ModeStatus.textContent = "Режим работы: авто";
					divManualControls.style.display = "none";
				} else {
					h2ModeStatus.textContent = "Режим работы: вручную";
					divManualControls.style.display = "block";
				}				
			}

			function settingsReset() {
				settings.auto = true;
				settings.pump = false;
				settings.light = false;
				settings.lighting_start = "23:00";
				settings.lighting_end = "05:00";
				settings.watering_time = 15;
				settingsSave();
			}

			function settingsUpdate() {
				settings.lighting_start = inputlightingStart.value;
				settings.lighting_end = inputLightingEnd.value;
				settings.watering_time = inputWateringTime.value;
				settingsSave();
			}

			function settingsSave() {
				sendCommand("/settings-update", {"settings": settings});
			}

			async function sendCommand(url, payload = {}) {
				try {
					const response = await fetch(url, {
						method: "POST",
						headers: {"Content-Type": "application/json"},
						body: JSON.stringify(payload)
					});
					const data = await response.json();
					console.log(JSON.stringify(data));
				} catch (error) {
					console.error("Ошибка:", error);
				}
			}

			var ws = new WebSocket("ws://localhost:8000/ws");
			ws.onmessage = function(event) {
				data = JSON.parse(event.data)
				console.log(data);
				settings = data.settings;
				spanTemp.textContent = data.temp;
				spanHumidity.textContent = data.humidity;
				spanCo2.textContent = data.co2;
				spanNutrient.textContent = data.nutrient;
				spanPH.textContent = data.ph;
				spanEC.textContent = data.ec;
				spanTempSolution.textContent = data.temp_solution;
				spanWateringStart.textContent = data.watering_start;
				spanWateringEnd.textContent = data.watering_end;
				spanLightingStart.textContent = data.settings.lighting_start;
				spanLightingEnd.textContent = data.settings.lighting_end;
				btnPumpToggle.style.backgroundColor = data.settings.pump ? "green" : "red";
				btnLightToggle.style.backgroundColor = data.settings.light ? "green" : "red";
				if (data.temp > 30 || data.temp < 10) {
					spanTemp.parentElement.style.backgroundColor = "red";
					spanTemp.parentElement.style.color = "white";
				} else {
					spanTemp.parentElement.style.backgroundColor = "";
					spanTemp.parentElement.style.color = "";					
				}
				modeCheck();
				updateDateTime();
			};
		</script>
	</body>
</html>
