<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Сити-ферма №1</title>
		<style>
			body {
				font-family: Arial, sans-serif;
				text-align: center;
				margin: 0;
				padding: 0;
			}
			header {
				background-color: #4CAF50;
				color: white;
				padding: 1em 0;
			}
			.container {
				padding: 20px;
			}
			.m20 {
				margin: 20px 0;
			}
			.hidden {
				display: none;
			}
			#pump-toggle, #light-toggle {
				color: white;
				background-color: red;
				width: 100px;
				height: 50px;
			}
		</style>
	</head>
	<body>
		<header>
			<h2>Сити-ферма №1</h1>
			<h3>Разработчик: Михаил Андросов</h2>
		</header>
		<div class="container">
			<div id="sensor-data" class="m20">
				<h2>Показания датчиков</h2>
				<p>Дата и время: <span id="datetime"></span></p>
				<p>Температура: <span id="temp">22</span>°C</p>
				<p>Влажность: <span id="humidity">60</span>%</p>
				<p>Уровень CO2: <span id="co2">400</span> ppm</p>
				<p>Уровень питательного раствора: <span id="nutrient">80</span>%</p>
				<p>Уровень pH: <span id="ph">6.5</span></p>
				<p>Уровень EC: <span id="ec">1.5</span> mS/cm</p>
				<p>Температура раствора: <span id="temp-solution">20</span>°C</p>
			</div>
			<div id="system-status" class="m20">
				<h2>Состояние системы</h2>
				<p>Следующий полив: с <span id="watering-start">08:00</span> до <span id="watering-end">08:15</span></p>
				<p>Подсветка: с <span id="light-start">23:00</span> до <span id="light-end">5:00</span></p>
				<p>Оптимальные показатели: Температура 22°C, Влажность 60%</p>
			</div>
			<div id="mode-switch" class="">
				<h2 id="mode-status">Режим работы: авто</h2>
				<button id="mode-toggle" onclick="modeToggle()">Переключить режим</button>
			</div>
			<div id="manual-controls" class="m20 hidden">
				<div>
					<button id="pump-toggle" onclick="sendCommand('/toggle-device', {'device': 'pump'})">Насос</button>
					<button id="light-toggle" onclick="sendCommand('/toggle-device', {'device': 'light'})">Свет</button>
				</div>
				<br>
				<div>
					<label for="watering-time">Время полива (мин):</label>
					<input type="number" id="watering-time" value="15">
				</div>
				<br>
				<div>
					<label for="lighting-time-start">Подсветка:</label><br>
					<span>с</span>
					<input type="time" id="input-light-start" value="23:00">
					<span>до</span>
					<input type="time" id="input-light-end" value="05:00">
				</div>
				<br>
				<div>
					<button onclick="settingsReset()">Сброс</button>
					<button onclick="settingsUpdate()">Сохранить</button>
				</div>
			</div>
		</div>

		<script>
			let settings = {
				"auto": true,
				"pump": false,
				"light": false,
				"light_start": "23:00",
				"light_end": "05:00",
				"watering_time": 15
			}

			function updateDateTime() {
				const now = new Date();
				document.getElementById("datetime").textContent = now.toLocaleString();
			}
			updateDateTime();
			setInterval(updateDateTime, 1000);

			const modeStatus = document.getElementById("mode-status");
			const manualControls = document.getElementById("manual-controls");

			function modeToggle() {
				if (settings.auto) {
					modeStatus.textContent = "Режим работы: вручную";
					manualControls.classList.remove("hidden");
				} else {
					modeStatus.textContent = "Режим работы: авто";
					manualControls.classList.add("hidden");
				}
				settings.auto = !settings.auto
			};

			function settingsReset() {
				settings.auto = true;
				settings.pump = false;
				settings.light = false;
				settings.light_start = "23:00";
				settings.light_end = "05:00";
				settings.watering_time = 15;
				settingsSave();
			}

			function settingsUpdate() {
				settings.light_start = document.getElementById("input-light-start").value;
				settings.light_end = document.getElementById("input-light-end").value;
				settings.watering_time = document.getElementById("watering-time").value;
				settingsSave();
			}

			function settingsSave() {
				sendCommand("/settings-update", {"settings": settings});
			}

			async function sendCommand(url, payload = {}) {
				try {
					const response = await fetch(url, {
						method: "POST",
						headers: {"Content-Type": "application/json"},
						body: JSON.stringify(payload)
					});
					const data = await response.json();
					console.log(JSON.stringify(data));
				} catch (error) {
					console.error("Ошибка:", error);
				}
			}

			var ws = new WebSocket("ws://localhost:8000/ws");
			ws.onmessage = function(event) {
				data = JSON.parse(event.data)
				console.log(data);
				document.getElementById("temp").textContent = data.temp;
				document.getElementById("humidity").textContent = data.humidity;
				document.getElementById("co2").textContent = data.co2;
				document.getElementById("nutrient").textContent = data.nutrient;
				document.getElementById("ph").textContent = data.ph;
				document.getElementById("ec").textContent = data.ec;
				document.getElementById("temp-solution").textContent = data.temp_solution;
				document.getElementById("watering-start").textContent = data.watering_start;
				document.getElementById("watering-end").textContent = data.watering_end;
				document.getElementById("light-start").textContent = data.settings.light_start;
				document.getElementById("light-end").textContent = data.settings.light_end;
				document.getElementById("pump-toggle").style.backgroundColor = data.settings.pump ? "green" : "red";
				document.getElementById("light-toggle").style.backgroundColor = data.settings.light ? "green" : "red";


			};
		</script>
	</body>
</html>
